body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

form {
    margin: 0 auto;
    width: 400px;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.success-message,
.error-message {
    margin: 20px auto;
    width: 400px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.success-message {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.error-message {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #008CBA;
    text-decoration: none;
    border-bottom: 1px solid #008CBA;
    padding-bottom: 2px;
    transition: border-bottom 0.2s ease-in-out;
}

a:hover {
    border-bottom: 2px solid #008CBA;
}
