body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #008CBA;
    padding: 20px;
    text-align: center;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.header a:hover {
    text-decoration: underline;
}

form {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.game-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"], button[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    border-radius: 4px;
}

input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #0074A0;
}

.similarity-score {
    color: green;
}
