<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='changePassword.css') }}">
</head>
<body>
	<div class="success-message">
		{% if success_message %}
			{{ success_message }}
		{% endif %}
	</div>
	<div class="error-message">
		{% if error_message %}
			{{ error_message }}
		{% endif %}
	</div>
	<h1>Change Password</h1>
	<form action="{{ url_for('changePassword') }}" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required><br><br>
		<label for="current_password">Current Password:</label>
		<input type="password" id="current_password" name="current_password" required><br><br>
		<label for="new_password">New Password:</label>
		<input type="password" id="new_password" name="new_password" required><br><br>
		<input type="submit" value="Change Password">
	</form>
	<div class="button-container">
		<a href="{{ url_for('addGames') }}">Return to Games Page</a>
	</div>
</body>
</html>
