<!DOCTYPE html>
<html>
<head>
	<title>Current Game List</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='currentGameList.css') }}">
</head>
<body>
	<div class="success-message">
		{% if success_message %}
			{{ success_message }}
		{% endif %}
	</div>
	<div class="error-message">
		{% if error_message %}
			{{ error_message }}
		{% endif %}
	</div>
	<h1>Current Game List</h1>
	<form action="{{ url_for('deleteGame') }}" method="post">
		{% for game in games %}
			<div class="game-container">
				<input type="checkbox" id="{{ game.id }}" name="game_ids[]" value="{{ game.id }}">
				<label for="{{ game.id }}">{{ game.name }}</label>
			</div>
		{% endfor %}
		<input type="submit" value="Delete Game">
	</form>
	<div class="button-container">
		<a href="{{ url_for('addGames') }}">Return to Games Page</a>
	</div>
</body>
</html>
